<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Favourite Past Players </title>
</head>

<body>
  <a href="/">Return Home</a>
  <h1> My Favourite Past Players </h1>
  <ol>
    <li><em> Paul Scholes </em></li>
    <img src="../images/past-players/paul-scholes.jpg" alt="picture of paul scholes">
    <a href="https://en.wikipedia.org/wiki/Paul_Scholes">Link to Paul Scholes Wikipedia Page</a>
    <br>
    <br>
    <li><em> Eric Cantona </em></li>
    <img src="../images/past-players/eric-cantona.jpg" alt="picture of eric cantona">
    <a href="https://en.wikipedia.org/wiki/Eric_Cantona">Link to Eric Cantona Wikipedia Page</a>
    <br>
    <br>
    <li><em> Nemanja Vidic </em></li>
    <img src="../images/past-players/nemanja-vidic.jpg" alt="picture of nemanja vidic">
    <a href="https://en.wikipedia.org/wiki/Nemanja_Vidi%C4%87">Link to Nemanja Vidic Wikipedia Page</a>
    <br>
    <br>
    <li><em> Wayne Rooney </em></li>
    <img src="../images/past-players/wayne-rooney.jpg" alt="picture of wayne rooney">
    <a href="https://en.wikipedia.org/wiki/Wayne_Rooney">Link to Wayne Rooney Wikipedia Page</a>
    <br>
    <br>
    <li><em> Dimitar Berbatov </em></li>
    <img src="../images/past-players/dimitar-berbatov.jpg" alt="picture of dimitar berbatov">
    <a href="">Link to Eric Cantona Wikipedia Page</a>
  </ol>
</body>

</html>