<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Favourite Present Players </title>
</head>

<body>
  <a href="/"> Return Home </a>
  <h1> My Favourite Present Players </h1>
  <ol>
    <li> Casemiro </li>
    <img 
    src="../images/present-players/casemiro.jpg" 
    alt="picture of casemiro"
    >
    <a href="https://en.wikipedia.org/wiki/Casemiro"> 
      Link to Casemiro Wikipedia page </a>
    <br>
    <br>
    <li> Marcus Rashford </li>
    <img 
    src="../images/present-players/rashford.jpg" 
    alt="picture of marcus rashford"
    >
    <a href="https://en.wikipedia.org/wiki/Marcus_Rashford">
      Link to Marcus Rashford Wikipedia page </a>
    <br>
    <br>
    <li> Bruno Fernandes </li>
    <img 
    src="../images/present-players/fernandes.jpg" 
    alt="picture of bruno fernandes"
    >
    <a href="https://en.wikipedia.org/wiki/Bruno_Fernandes">
      Link to Bruno Fernandes Wikipedia page </a>
    <br>
    <br>
    <li> David De Gea </li>
    <img 
    src="../images/present-players/de-gea.jpg" 
    alt="picture of david de gea"
    >
    <a href="https://en.wikipedia.org/wiki/David_de_Gea">
      Link to De Gea Wikipedia page </a>
    <br>
    <br>
    <li> Raphael Varane </li>
    <img 
    src="../images/present-players/varane.jpg"
    alt="picture of casemiro"
    >
    <a href="https://en.wikipedia.org/wiki/Rapha%C3%ABl_Varane"> 
      Link to Raphael Varane Wikipedia page </a>
  </ol>
</body>

</html>